*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #1A1B27;
}

.spinner{
    width: 3rem;
    height: 3rem;
    display: inline-block;
    border: 5px solid #cc00ff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: spin 1s infinite;
}

@keyframes spin {
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(180deg);
        border-top-color: #fc4182;
        border-bottom-color: #80ffdb;
        border-right-color: transparent;
        border-left-color: transparent;
    }
    100%{
        transform: rotate(360deg);
    }
}