*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #202231;
}
.animation{
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    transform: rotate(-45deg);
}
.animation li{
    position: relative;
    width: 50px;
    height: 50px;
    list-style: none;
    float: left;
}
.animation li::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform-origin: 100% 100%;
    animation: animate 2.65s linear infinite;
}
.animation li:nth-child(1){
    transform: rotate(0deg);
}
.animation li:nth-child(1)::before{
    animation-delay: 0s;
    background: #3FC1C9;
}
.animation li:nth-child(2){
    transform: rotate(90deg);
}
.animation li:nth-child(2)::before{
    animation-delay: 0.4s;
    background: #FC5185;
}
.animation li:nth-child(3){
    transform: rotate(270deg);
}
.animation li:nth-child(3)::before{
    animation-delay: 1.2s;
    background: #F8F2FF;
}
.animation li:nth-child(4){
    transform: rotate(180deg);
}
.animation li:nth-child(4)::before{
    animation-delay: 0.8s;
    background: #5d23a4;
}
@keyframes animate {
    0%{
        transform: perspective(200px) rotateX(0deg);
        opacity: 0;
    }
    10%{
        transform: perspective(200px) rotateX(-180deg);
        opacity: 0;
    }
    25%{
        transform: perspective(200px) rotateX(0deg);
        opacity: 1;
    }
    75%{
        transform: perspective(200px) rotateX(0deg);
        opacity: 1;
    }
    90%{
        transform: perspective(200px) rotateY(180deg);
        opacity: 0;
    }
    100%{
        transform: perspective(200px) rotateY(0deg);
        opacity: 0;
    }
}